* {
   margin: 0%;
   padding: 0%;
   font-family: 'Roboto', sans-serif;
}

body {
   background-color: #eeee;
   max-width: 100vw;
}

nav {
   display: flex;
   justify-content: space-between;
   background-color: #eeee;
   padding: 0 20px;
   box-shadow: 0px 2px 2px rgb(162, 162, 162);
   height: 10vh;
}

ul {
   display: flex;
   justify-content: center;
   align-items: center;
}

nav ul li {
   list-style: none;
}

ul li a {
   margin-inline: 22px;
   font-size: 20px;
}

ul li i {
   font-size: 22px;
}

ul li #home {
   color: rgb(5, 167, 167);
}

ul li a:hover {
   border: 1px solid black;
}

ul li:hover {
   color: gray;
   cursor: pointer;
}

.main {
   display: flex;
   justify-content: space-around;
   margin-left: 250px;
}

.maintext {
   display: flex;
   margin-top: 200px;


}

.mainText h2 {
   margin-top: 350px;
}

.mainText h1 {
   font-size: 60px;

}
.mainText p{
   font-size: 20px;
   margin-top: 3rem;
   

}

.mainText .top {
   display: flex;
   font-size: 50px;
   color: rgb(120, 137, 27);
}

.mainText button {
   width: 145px;
   height: 40px;
   background-color: rgb(211,142,15);
   border: none;
   font-size: 22px;
   color: white;
   border-radius: 5px;
}

.mainText button:hover {
   border: 3px solid rgb(3, 128, 128);
   background-color: transparent;
   color: rgb(2, 121, 121);
}

.head h1 {
   text-align: center;
   padding: 33px;
   margin-top: 22px;
   margin-left: 300px;
}

.head span {
   color: rgb(1, 164, 164);
}

.card {
   position: relative;
   display: flex;
   justify-content: center;
   margin-left: 300px;
}

.card .crd {
   width: 225px;
   height: 350px;
   background-color: #eee;
   margin-inline: 11px;
   padding: 10px;
   border: none;
   border-radius: 10px;
   box-shadow: 2px 2px 10px grey;
}

.crd img {
   z-index: -1;
   width: 70%;
   padding: 30px 20px;
   margin-left: 10px;
   height: 50%;
   border-radius: 50px;
}

.crd img:hover {
   /* transition: 0.1s ease;
   width: 75%; */
   /* height:auto; */
   transform: scale(1.1);

}

.crdText {
   z-index: 10;
   position: absolute;
   margin-left: 21px;
   padding: 0px;
   font-size: small;

}

.crdText button {
   width: 100px;
   height: 23px;
   border: none;
   background-color:rgb(211, 142, 15);
   color: white;
   font-size: 13px;
   margin-top: 11px;
   box-shadow: -3px 3px 10px rgb(226,162,44);
   border-radius: 5px;
}
.crdText button:hover{
   background:red;
   transition: 0.5s;
}

.crdText i {
   color: green;
}
/* blog */

.blog {
   display: flex;
   justify-content: center;
   width: 500px;
   height: 300px;
   background-color: #fff;
   margin-inline: 22px;
   border-radius: 11px;
}

.blog:hover {
   transition: 0.6s ease;
   width: 520px;
   height: 320px;
}

.blog img {
   padding: 22px;
   width: 85%;
   border-radius: 50px;
}

.blogText {
   padding: 12px;
   margin-top: 33px;
}

.blogText a {
   width: 120px;
   padding: 22px;
   height: 18px;
   background-color: rgb(211,142,15);
   color: white;
   font-size: 18px;
   border-radius: 5px;
   position: relative;
   top: 33px;
}

.letter {
   display: flex;
   justify-content: space-between;
   color: white;
   background-color: rgb(48, 43, 54);
   padding: 43px;
   margin-top: 100px;
}

.inp {
   display: flex;
}

.inp input {
   width: 330px;
   height: 33px;
   outline: none;
   font-size: 18px;
   border: none;
}

.inp button {
   width: 100px;
   height: 33px;
   background-color: rgb(74, 194, 78);
   color: white;
   border: none;
}
.footer{
   display: flex;
   justify-content: center;
   padding: 53px;
}

.footer .footerText {
   margin-inline: 85px;
}

.footerText p {
   margin-top: 11px;
}

.chasma {
   position: relative;
}

.chasma img {
   width: 100%;
   height: 200px;
   margin-right: 150px;
   margin-top: 100px;
}

.special {
   position: absolute;
}

.special img {
   width: 8%;
   height: 100px;
   margin-top: -580px;
   margin-left: 970px;
}

.offer {
   position: absolute;
}

.offer img {
   width: 7%;
   height: 100px;
   margin-top: -300px;

}

.hello {
   position: relative;
}
.hello img:hover{
   transform: scale(0.9);
   transition: 0.8s;
}

.hello img {
   width: 60%;
   margin-top: 25px;
   margin-left: 15px;
   box-shadow: 2px 2px 20px rgb(162, 162, 162);
   border: 1px solid black;
   border-radius: 5px;
}

.mar {
   position: absolute;
   margin-top: -350px;
}

.mar img {
   width: 35%;
   height: 350px;
   margin-left: 950px;
   margin-top: -600px;
   box-shadow: 2px 2px 20px rgb(162, 162, 162);
   border: 1px solid black;
   border-radius: 5px;
}

.design {
   position: absolute;
   margin-top: -330px;
}

.design img {
   width: 35%;
   margin-left: 950px;
   box-shadow: 2px 2px 20px rgb(162, 162, 162);
   border: 1px solid black;
   border-radius: 5px;
   border-radius: 15px;
}

.mars img {
   width: 59%;
   margin-top: 100px;
   margin-left: 300px;
}

/*search bar*/

.box {
   height: 35px;
   display: flex;
   width: 20vw;
   cursor: pointer;
   pad: 10px 20px;
   background: #fff;
   align-items: center;
   box-shadow: -0px 2px 10px rgb(0, 0, 0.3);
   border-radius: 30px;
   position: relative;
}



.box input {
   width: 100%;
   outline: none;
   border: none;
   padding-left: 20px;
   font-weight: 500;
   transition: 0.8s;
   background: transparent;
}

.box a .fas {
   position: absolute;
   color: #1daf;
   right: 5px;
   top: 5px;
   font-size: 25px;

}

/*poster1*/
.card {
   position: relative;
}

.long {
   position: absolute;
}

.long img {
   width: 55%;
   margin-top: -380px;
   margin-left: 100px;
   box-shadow: -6px 6px 20px rgb(17, 82, 22);
}

/*headphones*/
.card2 {
   position: relative;
}

.card2 {
   position: relative;
   display: flex;
   justify-content: center;
   margin-right: 400px;
}

.card2 .crd2 {
   width: 225px;
   height: 320px;
   background-color: #eee;
   margin-inline: 11px;
   padding: 10px;
   border: none;
   border-radius: 10px;
   box-shadow: 2px 2px 10px grey;
}

.crd2 img {
   z-index: -1;
   width: 70%;
   padding: 30px 20px;
   margin-left: 10px;
   height: 50%;
   border-radius: 50px;
}

.crd2 img:hover {
   /* transition: 0.1s ease;
   width: 75%; */
   /* height:auto; */
   transform: scale(1.1);

}

.crdText2 {
   z-index: 10;
   position: absolute;
   margin-left: 21px;
   padding: 0px;
   font-size: small;

}

.crdText2 button {
   width: 100px;
   height: 23px;
   border: none;
   background-color:rgb(211, 142, 15);
   color: white;
   font-size: 13px;
   margin-top: 11px;
   box-shadow: -3px 3px 20px rgb(212, 167, 85);
   border-radius: 5px;
}
.crdText2 button:hover{
   background: red;
   transition: 0.5s;
}

.crdText2 i {
   color:green;
}

.head2 h1 {
   text-align: center;
   padding: 33px;
   margin-top: 22px;
   margin-right: 400px;
}

.head2 span {
   color: rgb(1, 164, 164);
}

/*poster2*/
.poster2 {
   position: absolute;
}

.poster2 img {
   width: 27%;
   height: 690px;
   margin-left: 1100px;
   margin-top: -337px;
   box-shadow: -6px 6px 20px rgb(17, 82, 22);
}

/*offer*/
.off {
   height: 35vh;
   padding-left: 3%;
   padding-top: 2%;
   width: 90%;
   display: flex;
   position: relative;
}
.offer2 img:hover{
   transform: scale(1.1);
   transition: 0.8s;
}

.offer2 {
   position: absolute;
   width: 45vw;
}

.offer2 img {
   width: 100%;
   height:280px;
   box-shadow: -6px 6px 20px rgb(17, 82, 22);
   border-radius: 5px;
}
.offer3 img:hover{
   transform: scale(1.1);
   transition: 0.8s;
   
}
.offer3 {
   position: absolute;
   left: 55%;
   width: 45vw;
   height: 37vh;
}

.offer3 img {
   width: 100%;
   height: 100%;
   box-shadow: -6px 6px 20px rgb(21, 22, 21);
   border-radius: 5px;
}
.offer4:hover{
   transform: scale(1.1);
   transition: 0.8s;
}

.offer4 {
   width: 40%;
   margin-top: 5%;
   padding-left: 3%;
}

.offer4 img {
   width: 100%;
   height: 300px;
   box-shadow: -6px 6px 20px rgb(54, 54, 51);
   border-radius: 5px;
   display: inline;
}

.trends3 {
   position: relative;
   margin-top: -400px;
   margin-left: 400px;
   width: 50vw;
}

.card3 {
   width: 100%;
   display: flex;
   margin-left: 250px;
   margin-top: -25px;
}
/* logo*/

.logo{
   display: flex;
   width: 55vw;
   align-items: center;
   justify-content: center;
}

.orange img{ 
   width: 25%;
   height: 50%;
}
@media (max-width: 360px) {

  body {
    overflow-x: hidden;
  }

  nav {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .logo {
    width: 100%;
    justify-content: space-between;
  }

  .box {
    width: 90%;
    margin-top: 10px;
  }

  nav ul li {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* HERO SECTION */
  .main {
    flex-direction: column;
    margin-left: 0;
    align-items: center;
    text-align: center;
  }

  .mainText h1 {
    font-size: 30px;
  }

  .mainText h2 {
    margin-top: 20px;
  }

  .mars img {
    width: 90%;
    margin: 20px auto;
  }

  /* CARDS */
  .card,
  .card2 {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    align-items: center;
  }

  .crd,
  .crd2 {
    width: 90%;
    margin-bottom: 20px;
  }

  .crdText,
  .crdText2 {
    position: static;
    text-align: center;
  }

  /* HEADINGS */
  .head h1,
  .head2 h1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 22px;
  }

  /* IMAGES */
  .hello img,
  .mar img,
  .design img,
  .long img,
  .poster2 img {
    width: 90%;
    margin: 15px auto;
    position: static;
  }

  /* BLOG */
  .blog {
    width: 90%;
    flex-direction: column;
    height: auto;
  }

  .card3 {
    flex-direction: column;
    margin-left: 0;
  }

  /* OFFERS */
  .off {
    flex-direction: column;
    height: auto;
  }

  .offer2,
  .offer3,
  .offer4 {
    position: static;
    width: 100%;
    margin-bottom: 20px;
  }

  /* NEWSLETTER */
  .letter {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .inp {
    flex-direction: column;
    gap: 10px;
  }

  .inp input,
  .inp button {
    width: 100%;
  }

  /* FOOTER */
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footerText {
    margin: 20px 0;
  }
}
